form {
    border: 2px solid #6d6a6c;
    border-radius: 3px;
    padding: 40px;
}

input {
    background-color: #e2dfe0;
    padding: 5px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
